#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.link-input{
  margin-top: 1rem;
  margin-bottom:1rem;
  padding: 1rem;
  width: 40%;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.link-submit{
  font-size:medium;
  padding:0.8rem;
  background-color: #646cff;
  color:white;
  border-radius: 5px;
}
.link-submit:hover{
  background-color: #646cff;
  color: white;
}



